<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAdOeR938Z9VjI799cFbmcSTSJZSjpdBps</string>
	<key>GCM_SENDER_ID</key>
	<string>1065491798503</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.perfect.notifications.perfectNotificationsExample</string>
	<key>PROJECT_ID</key>
	<string>notificationexample-c9694</string>
	<key>STORAGE_BUCKET</key>
	<string>notificationexample-c9694.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1065491798503:ios:fda7cd6e0e8c0762134542</string>
</dict>
</plist>